/* ------------------- HEADER --------------------*/

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100px;
}

.nav__item:not(:last-of-type) {
  margin-right: 80px;
}

.nav__item {
  position: relative;

  height: 100px;
}

.nav__item--active {
  color: #fff;
}

.nav__item--active::before {
  content: "";
  position: absolute;
  left: -30px;
  right: -30px;
  bottom: -40px;
  height: 300%;
  transform: translateY(-50%);

  background-color: #292983;

  z-index: -1;
  opacity: 0;
  transition:
    transform 0.3s,
    opacity 0.2s,
    background-color 0.3s;
}

.nav__item--active:hover::before {
  background-color: #3561c4;
}

.nav__item--active::before {
  transform: translateY(-20%);
  opacity: 1;
}

.nav__item-link {
  display: inline-block;

  font-size: 1rem;
  line-height: 500%;

  text-transform: uppercase;

  transition: transform 0.3s;
}

.nav__item--active .nav__item-link {
  transform: translateY(-10px);
}


/* ------------------- MAIN GRID --------------------*/

.main-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;

  min-height: calc(100vh - 100px);
}

.main-grid__item {
  position: relative;

  min-height: 300px;
  width: 100%;
  height: 100%;

  color: #fff;
  text-transform: uppercase;

  cursor: pointer;
  overflow: hidden;
}

.main-grid__item-content {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  z-index: 2;
}

.main-grid__item:nth-of-type(3),
.main-grid__item:nth-of-type(9) {
  background-color: #fffc0e;
  backdrop-filter: hue-rotate(180deg);
}

.main-grid__item:nth-of-type(2),
.main-grid__item:nth-of-type(12) {
  background-color: #138fc2;
}

.main-grid__item:nth-of-type(1),
.main-grid__item:nth-of-type(7) {
  background-color: #f7046e;
}

.main-grid__item:nth-of-type(5),
.main-grid__item:nth-of-type(8),
.main-grid__item:nth-of-type(10) {
  background-color: #292983;
}

.main-grid__item:nth-of-type(4),
.main-grid__item:nth-of-type(6),
.main-grid__item:nth-of-type(11) {
  background-color: #3561c4;
}

.main-grid__item-content {
  height: 100%;
  width: 100%;
}

.item--text_with_figure {
  letter-spacing: 4px;
}

.item--one-digit {
  font-size: 90px;
  font-weight: 900;

  transform: scale(1);

  transition:
    transform 0.6s,
    color 0.3s;
}

.main-grid__item:hover .item--one-digit {
  transform: scale(7);
  color: rgba(255, 255, 255, 0.3)
}

.main-grid__item:nth-of-type(9) .item--one-digit {
  color: #3561c4;
}

.main-grid__item:nth-of-type(9):hover .item--one-digit {
  color: rgba(41, 41, 131, 0.3)
}

.main-grid__item:nth-of-type(1):hover .item--one-digit {
  transform: rotate(111deg) scale(6) translateY(-10px) translateX(4px);
}

.main-grid__item:nth-of-type(7):hover .item--one-digit {
  transform: rotate(-90deg) scale(6) translateY(-3px) translateX(-7px);
}


.main-grid__item:nth-of-type(3) .main-grid__item-content::after,
.main-grid__item:nth-of-type(3) .main-grid__item-content::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border-width: 10px;
  border-style: solid;
  border-color: #f7046e;

  transition:
    transform 0.6s,
    border-color 0.6s;
}

.main-grid__item:nth-of-type(3) .main-grid__item-content::after {
  width: 75px;
  height: 75px;
}

.main-grid__item:nth-of-type(3) .main-grid__item-content::before {
  width: 30px;
  height: 30px;
}

.main-grid__item:nth-of-type(3):hover .main-grid__item-content::before {
  transform: translate(-50%, -50%) scale(10);

  border-color: rgba(247, 4, 110, 0.4);
}

.main-grid__item:nth-of-type(3):hover .main-grid__item-content::after {
  transform: translate(-50%, -50%) scale(3);

  border-color: rgba(247, 4, 110, 0.4);
}

.main-grid__item:nth-of-type(2) .main-grid__item-content::after,
.main-grid__item:nth-of-type(12) .main-grid__item-content::after {
  content: "";
  position: absolute;

  width: 80px;
  height: 80px;

  background-color: #292983;
  z-index: -1;

  transition:
    transform 2s;
}

.main-grid__item:nth-of-type(2):hover .main-grid__item-content::after {
  transform: rotate(360deg);
}

.main-grid__item:nth-of-type(12):hover .main-grid__item-content::after {
  transform: rotate(-360deg);
}

.main-grid__item:nth-of-type(10) .main-grid__item-content::after {
  content: "";
  position: absolute;

  width: 80px;
  height: 80px;
  border-radius: 50%;

  background-color: #f7046e;
  z-index: -1;

  transition:
    transform 0.5s;
}

.main-grid__item:nth-of-type(10):hover .main-grid__item-content::after {
  transform: skewX(45deg) scaleY(8) scaleX(4);
}







.error-message {
  display: none;
}

@media (max-width: 1200px) {
  .main-grid {
    display: none;
  }

  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - 100px);
  }

  .error-message {
    display: block;

    font-size: 30px;
    letter-spacing: 1px;
  }
}
